body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.droparea {
  padding: 100px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.droparea.highlight {
  background-color: #aaa;
  border: 2px dashed blue;
}