<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Network error</title>
    <link rel="stylesheet" href="connectionError.module.css" />
  </head>
  <body>
    <div class="error">
      <h1>No internet connection</h1>
      <p>
        Connection to the internet is needed when populating local database and
        retreiving new data from European Central Bank.
      </p>
    </div>
    <div>
      <button id="reconnectBtn">Try again</button>
    </div>
    <script src="conectionError.js"></script>
  </body>
</html>
